@import "tailwindcss";

@keyframes pop {
  0% { transform: scale(0.85); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-pop {
  animation: pop 0.18s ease-out;
}

body {
  font-family: 'Poppins', sans-serif;
}
